{% extends 'base.html.twig' %}
{% block title %}RECOBIKE | ACCUEIL{% endblock %}
{% block body %}
    <div class="am-mainpanel">
        <div class="am-pagetitle">
            <h5 class="am-title">ACCUEIL</h5>
        </div><!-- am-pagetitle -->
    </div><!-- am-mainpanel -->
{% endblock %}
