<p>Bonjour,</p>

<p>Veuillez cliquer sur le lien suivant pour modifier votre mot de passe :</p>
<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>
<p>Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }} heure.</p>
<p>Cordialement,</p>

<p>L’équipe Recobike</p>