<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1251"/>
    <title></title>
    <meta name="generator" content="LibreOffice 6.4.4.2 (Windows)"/>
    <meta name="created" content="2020-12-17T04:50:28.839000000"/>
    <meta name="changed" content="2020-12-17T04:52:40.839000000"/>
    <style type="text/css">
        @page { size: 21cm 29.7cm; margin: 2cm }
        p { margin-bottom: 0.25cm; line-height: 115%; background: transparent }
    </style>
</head>
<body lang="ru-RU" link="#000080" vlink="#800000" dir="ltr"><p style="margin-bottom: 0cm; line-height: 100%">
    Bonjour,</p>
<p style="margin-bottom: 0cm; line-height: 100%">Vous venez de vous
    inscrire en tant que centre agr&eacute;&eacute; Recobike et nous vous
    en remercions.</p>
<p style="margin-bottom: 0cm; line-height: 100%">Afin de valider
    votre inscription aupr&egrave;s de nos services, merci de cliquer sur
    le lien suivant :</p>
<p style="margin-bottom: 0cm; line-height: 100%">
    <a href="//pro.recobike.com/validation?SessID={{ token }}">pro.recobike.com/validation?SessID={{ token }}</a>
</p>
<p style="margin-bottom: 0cm; line-height: 100%">Vous pourrez alors
    imm&eacute;diatement vous connecter &agrave; votre espace d&eacute;di&eacute;
    et commencer &agrave; utiliser les num&eacute;ros</p>
<p style="margin-bottom: 0cm; line-height: 100%">de marquage
    Recobike.</p>
<p style="margin-bottom: 0cm; line-height: 100%">Nous vous remercions
    de l&rsquo;int&eacute;r&ecirc;t port&eacute; &agrave; nos services.</p>
<p style="margin-bottom: 0cm; line-height: 100%">L&rsquo;&eacute;quipe
    Recobike</p>
</body>
</html>