<p>Bonjour,</p>

<p>Vous venez de vous inscrire en tant que centre agr&eacute;&eacute; Recobike et nous vous en remercions.</p>
<p>Afin de valider votre inscription aupr&egrave;s de nos services, merci de cliquer sur le lien suivant :</p>

<p>{{ url('validation', {SessID: token} ) }}</p>
<p>Vous pourrez alors imm&eacute;diatement vous connecter &agrave; votre espace d&eacute;di&eacute; et commencer &agrave; utiliser les num&eacute;ros</p>
<p>de marquage Recobike.</p>

<p>Nous vous remercions de l&rsquo;int&eacute;r&ecirc;t port&eacute; &agrave; nos services.</p>
<p>L&rsquo;&eacute;quipe Recobike</p>